<h1 id="headline">Preparing to engage</h1>

<% foundUser.ships.forEach(function(ship) { %>
    <img src="<%=ship.pic%>" width="100" height="100"><br>
    <div class="shipName"><%= ship.name %></div>
    <div hidden class="shipPower"><%= ship.power %></div>
    <div class="shipRole">Class: <%= ship.role %></div><br>
<% }) %>

<script>
function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms))
}
sleep(3000).then(() => {document.getElementById('headline').innerText = 'Engaging!'})
sleep(6000).then(() => {battle()})
let fleetName = document.getElementsByClassName('shipName')
let fleetPower = document.getElementsByClassName('shipPower')
let fleetRole = document.getElementsByClassName('shipRole')
let ship0 = {
    name: fleetName[0].textContent,
    power: fleetPower[0].textContent,
    role: fleetRole[0].textContent
}
let ship1 = {
    name: fleetName[1].textContent,
    power: fleetPower[1].textContent,
    role: fleetRole[1].textContent
}
let ship2 = {
    name: fleetName[2].textContent,
    power: fleetPower[2].textContent,
    role: fleetRole[2].textContent
}
let ship3 = {
    name: fleetName[3].textContent,
    power: fleetPower[3].textContent,
    role: fleetRole[3].textContent
}
let ship4 = {
    name: fleetName[4].textContent,
    power: fleetPower[4].textContent,
    role: fleetRole[4].textContent
}
let enemy = [
    {
        name: 'ship0',
        power: 89801,
        role: 'Attacker'
    },
    {
        name: 'ship1',
        power: 76271,
        role: 'Tank'
    }, 
    {
        name: 'ship2',
        power: 81177,
        role: 'Capital Ship'
    },
    {
        name: 'ship3',
        power: 76271,
        role: 'Tank'
    },
    {
        name: 'ship4',
        power: 89801,
        role: 'Attacker'
    }
]
let fleetAlive = true
let enemyAlive = true
function scanForWin() {
    if (ship0.power > 0 || ship1.power > 0 || ship2.power > 0 || ship3.power > 0 || ship4.power > 0) {
        fleetAlive = true
    } else {
        fleetAlive = false
    }
    if (enemy[0].power > 0 || enemy[1].power > 0 || enemy[2].power > 0 || enemy[3].power > 0 || enemy[4].power > 0) {
        enemyAlive = true
    } else {
        enemyAlive = false
    }
    if (fleetAlive === true && enemyAlive === false) {
        document.getElementById('headline').innerText = 'Your fleet is victorious!'
    } else if (fleetAlive === false && enemyAlive === true) {
        document.getElementById('headline').innerText = 'Your fleet has been obliterated!'
    } else if (fleetAlive === false && enemyAlive === false) {
        document.getElementById('headline').innerText = 'Both fleets have been obliterated. There are no survivors.'
    }
}
function battle() {
    while (fleetAlive === true && enemyAlive === true) {
        if (ship0.role === 'Capital Ship') {
            enemy[0].power = enemy[0].power - 15000
            ship0.power = ship0.power - 5000
        } else if (ship0.role === 'Tank') {
            enemy[0].power = enemy[0].power - 5000
            ship0.power = ship0.power - 15000
        } else {
            enemy[0].power = enemy[0].power - 5000
            ship0.power = ship0.power - 5000
        }
        if (ship1.role === 'Attacker' || ship1.role === 'Support') {
            enemy[1].power = enemy[1].power - 15000
            ship1.power = ship1.power - 5000
        } else if (ship1.role === 'Capital Ship') {
            enemy[1].power = enemy[1].power - 5000
            ship1.power = ship1.power - 15000
        } else {
            enemy[1].power = enemy[1].power - 5000
            ship1.power = ship1.power - 5000
        }
        if (ship2.role === 'Tank') {
            enemy[2].power = enemy[2].power - 15000
            ship2.power = ship2.power - 5000
        } else if (ship2.role === 'Attacker' || ship2.role === 'Support') {
            enemy[2].power = enemy[2].power - 5000
            ship2.power = ship2.power - 15000
        } else {
            enemy[2].power = enemy[2].power - 5000
            ship2.power = ship2.power - 5000
        }
        if (ship3.role === 'Attacker' || ship3.role === 'Support') {
            enemy[3].power = enemy[3].power - 15000
            ship3.power = ship3.power - 5000
        } else if (ship3.role === 'Capital Ship') {
            enemy[3].power = enemy[3].power - 5000
            ship3.power = ship3.power - 15000
        } else {
            enemy[3].power = enemy[3].power - 5000
            ship3.power = ship3.power - 5000
        }
        if (ship4.role === 'Capital Ship') {
            enemy[4].power = enemy[4].power - 15000
            ship4.power = ship4.power - 5000
        } else if (ship4.role === 'Tank') {
            enemy[4].power = enemy[4].power - 5000
            ship4.power = ship4.power - 15000
        } else {
            enemy[4].power = enemy[4].power - 5000
            ship4.power = ship4.power - 5000
        }
        scanForWin()
    }
}
// sleep(2000).then(() => {battle()})

</script>