<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Star Wars: Fleet Attack</title>
</head>
<body>
    <header>
        <nav>
            <% if (!currentUser) { %>
                <a href="/auth/signup">Sign Up</a><br>
                <a href="/auth/login">Log In</a>
            <% } else { %>
                <a href="/auth/logout">Log Out</a><br>
                <a href="/profile">Profile</a><br>
                <a href="/build">Assemble Fleet</a>
            <% } %>
        </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %>
</body>
</html>